:root {
  --gap-small: 0.4rem;
  --gap: 0.9rem;
  --gap-large: 1.6rem;
  --font-small: 0.7rem;
  --font: 0.9rem;
  --font-large: 1.1rem;
  --padding-small: 0.4rem 0.6rem;
  --padding: 0.7rem 0.9rem;
  --padding-large: 1rem 1.2rem;
  --border-radius-small: 4px;
  --border-radius: 8px;
  --border-radius-large: 12px;
  --shadow-size-small: 2px;
  --shadow-size: 4px;
  --shadow-size-large: 6px;
}